.ui.grid.container {
  height: 100%
}

.ui.fluid.card {
  max-width: 450px;
  max-height: 600px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.filepond--drop-label {
  border-radius: 25px;
  height: 50%;
  font-size: 3em;
  padding-bottom: 30%;
  padding-top: 30%;
}

.confirm-button{
    display: inline-block;
    width: 25%;
    margin: auto;
}